
    body{
      background-color: rgba(11, 121, 148, 0.959);
    }
    .form-group label {
      display: block;
      margin-left: 5px;
      font-weight: bold;
    }

    .form-input {
      width: 100%;
      padding: 10px 0;
      border: 1px solid #00000000;
      border-radius: 4px;
    }

    .submit-button {
      padding: 10px 50px;
      border-radius: 15px;
      transition: background-color 0.3s ease;
    }

    .submit-button:hover {
      background-color: #534cb1;
      /* Un azul más oscuro al pasar el mouse */
    }

    .tittle {
        text-align: center;
        color: #7c1313;
        font-family: Arial, sans-serif;
        margin: 0;
    }
    #main-title {
        color:#100eac;
        font-size: 2,5px;
        margin-top: 1em;
        margin-bottom: 0.2em;
    }
    /* Estilos para el menú de navegación */
    nav ul {  
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        
    }
    nav ul li {
        background-color: #030192;
        margin: 0 15px;
        padding: 10px 0;
        border-radius: 5%;
    }
  nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    nav ul li a:hover {
        color: #0101039c;
    }
    video-section {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    video-section video {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 10px;
        border: 5px solid #05002249;
    }
    section iframe {
        display: block;
        margin: 20px auto;
        border: 5px double #05002249;
        border-radius: 10px;
    }
    footer {
        text-align: center;
        padding: 20px;
        background-color: #030192;
        color: rgb(63, 55, 55);
    }
