body{
        font-family: Arial, sans-serif;
        background:#90c4d0;
        margin:40px;
    }

    h1{
        text-align:center;
    }

    .seccion{
        background:rgb(194, 171, 171);
        padding:20px;
        margin-bottom:25px;
        border-radius:10px;
        box-shadow:0 0 10px rgba(146, 38, 38, 0.1);
    }

    input, select{
        width:100%;
        padding:8px;
        margin:5px 0 15px 0;
    }

    button{
        background:#007bff;
        color:white;
        padding:10px;
        border:none;
        border-radius:5px;
        cursor:pointer;
    }

    button:hover{
        background:#16eb0b;
    }
